/* Dark theme */
@-moz-document domain("clojuredocs.org") {
html,
body,
.var-header .arglists li,
.var-page .docstring pre,
.example-body,
.note-body,
.see-also p,
form.search input.query,
.search-results-page .search-result .arglists li,
.ns-page pre.doc,
.null-state {
    background-color: #292b2e;
    color: #afb2ae;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    letter-spacing: 0.02em;
}

.example-body,
.syntaxify *,
.syntaxify,
code {
    background-color: #131415;
    color: #afb2ae;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.var-group .dl-row:hover,
.nav > li > a:hover {
    background-color: #131415;
}
}
